/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  color-scheme: light dark;
  
  --ion-item-border-color: var(--ion-background-color-step-200);
  
  /** instagram **/
  --ion-color-instagram: #c13584;
  --ion-color-instagram-rgb: 51, 51, 51;
  --ion-color-instagram-contrast: #ffffff;
  --ion-color-instagram-contrast-rgb: 255, 255, 255;
  --ion-color-instagram-shade: #2d2d2d;
  --ion-color-instagram-tint: #474747;

  /** github **/
  --ion-color-github: #333333;
	--ion-color-github-rgb: 51,51,51;
	--ion-color-github-contrast: #ffffff;
	--ion-color-github-contrast-rgb: 255,255,255;
	--ion-color-github-shade: #2d2d2d;
	--ion-color-github-tint: #474747;

  /** codepen **/
  --ion-color-codepen: #000000;
	--ion-color-codepen-rgb: 0,0,0;
	--ion-color-codepen-contrast: #ffffff;
	--ion-color-codepen-contrast-rgb: 255,255,255;
	--ion-color-codepen-shade: #000000;
	--ion-color-codepen-tint: #1a1a1a;

  /** twitch **/
  --ion-color-twitch: #6441a5;
  --ion-color-twitch-rgb: 100, 65, 165;
  --ion-color-twitch-contrast: #ffffff;
  --ion-color-twitch-contrast-rgb: 255, 255, 255;
  --ion-color-twitch-shade: #583991;
  --ion-color-twitch-tint: #7454ae;

  /** youtube **/
  --ion-color-youtube: #aa0000;
  --ion-color-youtube-rgb: 170, 0, 0;
  --ion-color-youtube-contrast: #ffffff;
  --ion-color-youtube-contrast-rgb: 255, 255, 255;
  --ion-color-youtube-shade: #960000;
  --ion-color-youtube-tint: #b31a1a;

  /* tcg fighting */
  --ion-color-tcgFighting: #EE8130;
	--ion-color-tcgFighting-rgb: 238,129,48;
	--ion-color-tcgFighting-contrast: #000000;
	--ion-color-tcgFighting-contrast-rgb: 0,0,0;
	--ion-color-tcgFighting-shade: #d1722a;
	--ion-color-tcgFighting-tint: #f08e45;

  /* tcg dragon */
  --ion-color-tcgdragon: #B6A136;
	--ion-color-tcgdragon-rgb: 182,161,54;
	--ion-color-tcgdragon-contrast: #000000;
	--ion-color-tcgdragon-contrast-rgb: 0,0,0;
	--ion-color-tcgdragon-shade: #a08e30;
	--ion-color-tcgdragon-tint: #bdaa4a;

  /* tcg dark */
  --ion-color-tcgdark: #2596be;
	--ion-color-tcgdark-rgb: 37,150,190;
	--ion-color-tcgdark-contrast: #000000;
	--ion-color-tcgdark-contrast-rgb: 0,0,0;
	--ion-color-tcgdark-shade: #2184a7;
	--ion-color-tcgdark-tint: #3ba1c5;
}

:root.ios {
  --ion-background-color: var(--ion-background-color-step-50, #f2f2f6);
}

:root.md {
  --ion-background-color: var(--ion-background-color-step-100, #f9f9f9);
}

:root.md, :root.ios {
	--ion-toolbar-background: var(--ion-background-color);
	--ion-item-background: #fff;
}

.ion-color-instagram {
  --ion-color-base: var(--ion-color-instagram);
  --ion-color-base-rgb: var(--ion-color-instagram-rgb);
  --ion-color-contrast: var(--ion-color-instagram-contrast);
  --ion-color-contrast-rgb: var(--ion-color-instagram-contrast-rgb);
  --ion-color-shade: var(--ion-color-instagram-shade);
  --ion-color-tint: var(--ion-color-instagram-tint);
}

.ion-color-github {
  --ion-color-base: var(--ion-color-github);
  --ion-color-base-rgb: var(--ion-color-github-rgb);
  --ion-color-contrast: var(--ion-color-github-contrast);
  --ion-color-contrast-rgb: var(--ion-color-github-contrast-rgb);
  --ion-color-shade: var(--ion-color-github-shade);
  --ion-color-tint: var(--ion-color-github-tint);
}

.ion-color-codepen {
  --ion-color-base: var(--ion-color-codepen);
  --ion-color-base-rgb: var(--ion-color-codepen-rgb);
  --ion-color-contrast: var(--ion-color-codepen-contrast);
  --ion-color-contrast-rgb: var(--ion-color-codepen-contrast-rgb);
  --ion-color-shade: var(--ion-color-codepen-shade);
  --ion-color-tint: var(--ion-color-codepen-tint);
}

.ion-color-twitch {
  --ion-color-base: var(--ion-color-twitch);
  --ion-color-base-rgb: var(--ion-color-twitch-rgb);
  --ion-color-contrast: var(--ion-color-twitch-contrast);
  --ion-color-contrast-rgb: var(--ion-color-twitch-contrast-rgb);
  --ion-color-shade: var(--ion-color-twitch-shade);
  --ion-color-tint: var(--ion-color-twitch-tint);
}

.ion-color-youtube {
  --ion-color-base: var(--ion-color-youtube);
  --ion-color-base-rgb: var(--ion-color-youtube-rgb);
  --ion-color-contrast: var(--ion-color-youtube-contrast);
  --ion-color-contrast-rgb: var(--ion-color-youtube-contrast-rgb);
  --ion-color-shade: var(--ion-color-youtube-shade);
  --ion-color-tint: var(--ion-color-youtube-tint);
}

/* tcg colors */
.ion-color-tcgFighting {
	--ion-color-base: var(--ion-color-tcgFighting);
	--ion-color-base-rgb: var(--ion-color-tcgFighting-rgb);
	--ion-color-contrast: var(--ion-color-tcgFighting-contrast);
	--ion-color-contrast-rgb: var(--ion-color-tcgFighting-contrast-rgb);
	--ion-color-shade: var(--ion-color-tcgFighting-shade);
	--ion-color-tint: var(--ion-color-tcgFighting-tint);
}

.ion-color-tcgdragon {
	--ion-color-base: var(--ion-color-tcgdragon);
	--ion-color-base-rgb: var(--ion-color-tcgdragon-rgb);
	--ion-color-contrast: var(--ion-color-tcgdragon-contrast);
	--ion-color-contrast-rgb: var(--ion-color-tcgdragon-contrast-rgb);
	--ion-color-shade: var(--ion-color-tcgdragon-shade);
	--ion-color-tint: var(--ion-color-tcgdragon-tint);
}

.ion-color-tcgdark {
	--ion-color-base: var(--ion-color-tcgdark);
	--ion-color-base-rgb: var(--ion-color-tcgdark-rgb);
	--ion-color-contrast: var(--ion-color-tcgdark-contrast);
	--ion-color-contrast-rgb: var(--ion-color-tcgdark-contrast-rgb);
	--ion-color-shade: var(--ion-color-tcgdark-shade);
	--ion-color-tint: var(--ion-color-tcgdark-tint);
}

@media (prefers-color-scheme: dark) {
  :root {
    /** github **/
    --ion-color-github: #fafbfc;
    --ion-color-github-rgb: 250, 251, 252;
    --ion-color-github-contrast: #000000;
    --ion-color-github-contrast-rgb: 0, 0, 0;
    --ion-color-github-shade: #dcddde;
    --ion-color-github-tint: #fbfbfc;

    /** codepen **/
    --ion-color-codepen: #eeeeee;
    --ion-color-codepen-rgb: 255, 255, 255;
    --ion-color-codepen-contrast: #000000;
    --ion-color-codepen-contrast-rgb: 0, 0, 0;
    --ion-color-codepen-shade: #e0e0e0;
    --ion-color-codepen-tint: #eeeeee;
  }

  :root:is(.md, .ios) {
    --ion-item-background: #1c1c1d;
  }
}