/* swiper */
swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #0054e9);
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}

swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 18px;

  text-align: center;
  box-sizing: border-box;
}

swiper-slide img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* crypto market styles */
.shadow-good {
  filter: drop-shadow(0 0 0.75rem var(--ion-color-success));
}

.shadow-bad {
  filter: drop-shadow(0 0 0.75rem var(--ion-color-danger));
}

/* general styles */
.stack-result {
  max-width: 100%;
  width: 100%;
  height: 40vh;
  overflow: auto;
}

/* web scraping styles*/
@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.shell {
  background-color: #000;
  box-shadow: 6px 10px rgba(255, 255, 255, 0.3);
  outline: 1px solid #fff;
  margin: 4px;
  font-size: 1.2em;
}

.shell::after {
  content: "_";
  color: #fff;
  animation: blink 0.8s infinite;
}

.shell-msg {
  color: #0ff;
}

.shell-results {
  color: #fff;
}

.scraping-select {
  --placeholder-color: var(--ion-color-secondary)
}

/* tech stack styles */
.stack-img {
  filter: drop-shadow(0 0 0.75rem #e3dfde);
  image-rendering: pixelated;
  image-resolution: 300dpi; 
}

/* hardware information and github info styles*/
.hardware-img, .github-img {
  max-width: 100%;
  margin: auto;
}

.github-img {
  width: 200px;
  height: 200px;
  margin: auto;
}

/* tab selected */
ion-tab-button {
  --color-selected: var(--ion-color-secondary);
}

@media(orientation: landscape) {
  .stack-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%
  }
}
